@import './base.css';
@import './md.css';

body {
  background: var(--color-background);
  display: flex;
  justify-content: flex-start;
  min-height: 150vh;
  margin: 0 auto;
  color: var(--color-text);
}

main {
  background: var(--color-background);
  padding: 8px;
  outline: 1px solid var(--color-border);
}

header {
  background: var(--color-background-soft);
  padding: 0 8px 8px 8px;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
  flex: 1;
}

a {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
}

.link {
  cursor: pointer;
}

a.nav,
.nav a,
.nav label,
.nav-router,
.button-link {
  transition: background 0.2s;
  border-radius: 4px;
  padding: 0 8px;
  outline: 0px solid var(--color-navlink-active-bg);
  transition: 0 0.2s;
  text-decoration: none;
  color: var(--color-navlink);

  &:hover {
    transition: 0.2s;
    background: var(--color-navlink-hover-bg);
    color: var(--color-metalink-hover);
  }
}

a.nav:active,
.nav-router:active,
.pseudo-active,
.button-link:active {
  background: var(--color-navlink-active-bg) !important;
  outline-width: 1px;
  transition: 0s;
  color: var(--color-navlink-active) !important;
}

.button-link {
  display: flex;
  padding: 0 8px;
}

.nav.selected,
.nav-router.router-link-active {
  color: var(--color-navlink-active);
  font-weight: bold;
}

.flex-row {
  display: flex;
  gap: 3px;
}

.flex-1 {
  flex: 1;
}

.no-shrink {
  flex-shrink: 0;
}

h1 {
  color: var(--color-heading);
}

.meta {
  font-size: small;
  color: var(--color-meta);
}

.meta-highlight {
  font-weight: bold;
  color: var(--color-meta-highlight);
}

a.meta,
.meta-link {
  color: var(--color-metalink);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  max-width: 100%;
  border-radius: 12px;
  outline: 0 solid #fff2;
}

a.meta:hover,
.meta-link:hover,
a.meta:hover *,
.meta-link:hover * {
  transition: 0.2s;
  color: var(--color-metalink-hover);
}

a.meta:hover,
.meta-link:hover {
  outline-width: 2px;
  background: #fff2;
}

.meta-icon {
  width: 16px;
  height: 16px;
  align-self: center;
  flex-shrink: 0;
}

.avatar {
  overflow: hidden;
  background: orangered;
  outline: 1px solid #0004;
  border-radius: 22%;
  transition: 0.2s;
  margin: 4px;
}

.avatar * {
  color: #fff6 !important;
}

.avatar:hover * {
  color: #fff8 !important;
}

a .avatar:hover {
  outline: 4px solid #fff4;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-user-icon {
  width: 120%;
  position: relative;
  left: -10%;
  top: 10%;
}

.hide {
  display: none;
}

@keyframes popIn {
  from {
    transform: translateY(24px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.pop-in {
  animation: popIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

input[type='text'],
input[type='password'],
input[type='username'],
.input-field {
  background: var(--color-background-soft);
  border-radius: 4px;
  border: 1px solid var(--color-border);
  padding: 4px;
  color: var(--color-text);
  font-size: small;
  height: 2em;
}

input.no-decor {
  border: none;
  background: none;
  padding: 0;
  height: auto;
}

input + label {
  color: var(--color-navlink);
  cursor: pointer;
}

input:checked + label {
  font-weight: bold;
  color: var(--color-navlink-active);
}

#app {
  max-width: 100%;
}

@media (min-width: 1024px) {
  #app {
  }
}
