.md {
  padding: 4px 8px;
}

.md * {
  max-width: 100%;
  font-size: 0.98em;
}

.md img {
  max-height: 500px;
}

.md a {
}

.md ol {
}

.md blockquote {
  border-left: 4px solid var(--color-border);
  padding: 4px;
  background-color: var(--color-background-mute);
  color: var(--color-text-mute);
}
